{% extends "mainTemplate.twig" %}
{% block content %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Проекты</h1>
            <p class="lead">Таблица открытых проектов в категориях Веб-программирование, PHP и Базы данных.</p>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название проекта</th>
            <th scope="col">Ссылка</th>
            <th scope="col">Бюджет</th>
            <th scope="col">Валюта</th>
            <th scope="col">Имя заказчика</th>
            <th scope="col">Логин заказчика</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td><a href="{{ project.link }}" target="_blank">link</a></td>
                <td>{{ project.amount }}</td>
                <td>{{ project.currency }}</td>
                <td>{{ project.user_name }}</td>
                <td>{{ project.login }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center" style="padding-bottom: 10px;">
        Всего записей: {{ count }}
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item{% if ((offset/limit)|round(0,'floor')) <= 0 %} disabled{% endif %}">
                <a class="page-link" href="/index/show/?quantity={{ limit }}&offset={{ 0 }}">Первая</a>
            </li>
            <li class="page-item{% if ((offset/limit)|round(0,'floor')) <= 0 %} disabled{% endif %}">
                <a class="page-link" href="/index/show/?quantity={{ limit }}&offset={{ offset-limit }}">Предыдущая</a>
            </li>
            <select class="form-control" style="margin-left: 5px; margin-right: 5px; width: 200px;"
                    onchange="location = this.value;">
                {% for i in range(1, ((count/limit)|round(0,'ceil'))) %}
                    {% if ((offset/limit)|round(0,'floor')+1) == i %}
                        <option value="/index/show/?quantity={{ limit }}&offset={{ ((i-1)*limit) }}" selected>
                            страница {{ i }}</option>
                    {% else %}
                        <option value="/index/show/?quantity={{ limit }}&offset={{ ((i-1)*limit) }}">
                            страница {{ i }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <li class="page-item{% if ((offset/limit)|round(0,'floor'))+1 >= (((count)/limit)|round(0,'ceil')) %} disabled{% endif %}">
                <a class="page-link" href="/index/show/?quantity={{ limit }}&offset={{ offset+limit }}">Следующая</a>
            </li>
            <li class="page-item{% if ((offset/limit)|round(0,'floor'))+1 >= (((count)/limit)|round(0,'ceil')) %} disabled{% endif %}">
                <a class="page-link"
                   href="/index/show/?quantity={{ limit }}&offset={{ (((count-limit)/limit)|round(0,'ceil'))*limit }}">Последняя</a>
            </li>
        </ul>
    </nav>
{% endblock %}